@tailwind base;
@tailwind components;
@tailwind utilities;

div {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
}